/* Universal Style */
/* =============== */

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}


/* Shared Style */
/* ============ */


.primary-btn {
    background-color: #FF42A5;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 21px 40px;
    border-radius: 48px;
    border: transparent;
}







/* Header Part Started */
/* =================== */
/* =================== */


/* Logo & Navigation Starts */
/* ======================== */




nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 37px 240px;
}





/* Logo */



.logo {
    display: flex;
    align-items: center;
}

.logo-text {
    color: #0B0223;
    font-size: 2.8125rem;
    font-weight: 700;
    margin-left: 20px;
}

.logo-color {
    background: -webkit-linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}





/* Navigation */



ul {
    display: flex;
    align-items: center;
}

ul>li {
    list-style: none;
    margin-right: 32px;
}

ul a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
}

.menu-description {
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
    margin-right: 24px;
}

.menu-button {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 16px 24px;
}

.youtube {
    margin-right: 16px;
}



/* Logo & Navigation Closed */
/* ======================== */






/* Banner Part Starts */
/* ================== */



.banner-background{
    background-image: url("images/Group\ 14.png");
    width: 100%;
    background-repeat: no-repeat;
}

.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 240px;
}


/* Banner Content */

.banner-sub-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
}

.banner-title {
    font-size: 5.9375rem;
    font-weight: 800;
    background: -webkit-linear-gradient(90deg, #F948B2 10%, #8758F1 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
}

.banner-description {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}

.a,
.b {
    margin-bottom: 17px;
}

.c {
    margin-bottom: 41px;
}


.blue-btn {
    background-color: #4EC5F7;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 21px 40px;
    border-radius: 48px;
    border: transparent;
    margin-left: 24px;
}


/* Banner Image */

.banner-image{
    margin-bottom: -5px;
}


/* Banner Part Closed */
/* ================== */