/* Universal Style */
/* =============== */

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}


/* Shared Style */
/* ============ */


.primary-btn {
    background-color: #FF42A5;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 21px 40px;
    border-radius: 48px;
    border: transparent;
}


.title {
    background: -webkit-linear-gradient(1350deg, #F948B2 10%, #8758F1 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
}


.description {
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
}







/* Header Part Started */
/* =================== */
/* =================== */





/* Logo & Navigation Starts */
/* ======================== */




nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 37px 240px;
}





/* Logo */



.logo {
    display: flex;
    align-items: center;
}

.logo-text {
    color: #0B0223;
    font-size: 2.8125rem;
    font-weight: 700;
    margin-left: 20px;
}

.logo-color {
    background: -webkit-linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}





/* Navigation */



ul {
    display: flex;
    align-items: center;
}

ul>li {
    list-style: none;
    margin-right: 32px;
}

ul a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
}

.menu-description {
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
    margin-right: 24px;
}

.menu-button {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 16px 24px;
}

.youtube {
    margin-right: 16px;
}



/* Logo & Navigation Closed */
/* ======================== */






/* Banner Part Starts */
/* ================== */



.banner-background {
    background-image: url("images/Group\ 14.png");
    width: 100%;
    background-repeat: no-repeat;
    padding: 50px 0 0;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 240px;
}


/* Banner Content */

.banner-sub-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
}

.banner-title {
    font-size: 5.9375rem;
    font-weight: 800;
    background: -webkit-linear-gradient(90deg, #F948B2 10%, #8758F1 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
}

.banner-description {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}

.a,
.b {
    margin-bottom: 17px;
}

.c {
    margin-bottom: 41px;
}


.blue-btn {
    background-color: #4EC5F7;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 21px 40px;
    border-radius: 48px;
    border: transparent;
    margin-left: 24px;
}

.banner-image img {
    width: 90%;
}




/* Banner Part Closed */
/* ================== */





/* Header Part Closed  */
/* =================== */
/* =================== */






/* Main Part Started */
/* ================= */
/* ================= */



/* We Are Gamer Part Starts */
/* ======================== */



.we-are-gamer {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    height: 600px;
}


.we-are-gamer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 240px;
}

.we-are-gamer-container img {
    width: 55%;
}

.btn-right {
    text-align: right;
    margin-bottom: 45px;
}

.quote {
    text-align: right;
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 45px;
}

.quote span {
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
    line-height: 45px;
}

.gamer-title {
    margin-bottom: 24px;
    text-align: right;
}

.gamer-description {
    margin-bottom: 32px;
    text-align: right;
}


/* We Are Gamer Part Closed */
/* ======================== */





/* Online Games Funny Videos Starts */
/* ================================ */



.online-games-funny-videos-container {
    margin-top: 120px;
}

.center {
    text-align: center;
    margin-bottom: 16px;
}


.card-container {
    display: flex;
    justify-content: space-between;
    padding: 48px 240px;
}

.cards-description {
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 30px;
    margin-top: 24px;
}

/* hover */

.cards-content {
    position: relative;
    width: 300px;
}

.card-image {
    width: 100%;
    height: auto;
}

.cards-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 97%;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards-content:hover .cards-overlay {
    opacity: 1;
    border-radius: 16px;
    border: 4px solid #FF42A5;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
}

.icon {
    font-size: 48px;
}

.hover-text {
    text-align: center;
    font-size: 1.125rem;
    font-weight: 600;
    color: #FF42A5;
}


/* Online Games Funny Videos Closed */
/* ================================ */







/* Play Instantly Part Starts */
/* ========================== */





.play-instantly-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 240px;
    margin-top: 150px;
}



.play-instantly-content {
    margin-left: 187px;
    margin-bottom: 300px;
}



.play-instantly-title {
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
    background: -webkit-linear-gradient(90deg, #0B0223 10%, #0B0223 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-instantly-title span {
    background: -webkit-linear-gradient(90deg, #F948B2 10%, #8758F1 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.play-instantly-description {
    color: #534C64;
    text-align: right;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}


.big-image {}

.small-image {
    position: relative;
    bottom: 300px;
    right: 150px;

}

/* Play Instantly Part Closed */
/* ========================== */




/* Play Online Games */
/* ================= */


.play-games-online-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 240px;
}


.play-games-online-content {
    margin-bottom: 300px;
}

.play-games-online-title {
    text-align: left;
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
    background: -webkit-linear-gradient(90deg, #0B0223 10%, #0B0223 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-games-online-title span {
    background: -webkit-linear-gradient(90deg, #F948B2 10%, #8758F1 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.play-games-online-description {
    color: #534C64;
    text-align: left;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}


.small-image-b {
    position: relative;
    bottom: 250px;
    left: 530px;
}


/* Play Online Games */
/* ================= */




/* Careers Part */
/* ============ */



.careers-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.careers-content {
    max-width: 680px;
    padding-left: 240px;
}

.careers {
    background: #FF42A5;
}


.careers-title {
    color: #FFF;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.careers-description {
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}


.careers-points-container {
    display: flex;
    margin-bottom: 40px;
}

.careers-points {
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 40px;
    margin-right: 77 px;
}

.careers-points-container .right {
    text-align: right;
}

.white-btn {
    font-size: 1.125rem;
    font-weight: 600;
    color: #FF42A5;
    background-color: #fff;
    padding: 21px 40px;
    border: transparent;
    border-radius: 48px;
}


.careers-image img {
    width: 100%;
    margin-right: -150px;
}



/* Careers Part */
/* ============ */




/* Games Button */
/* ============ */

.whole-btn {
    padding-top: 120px;
}

.first-raw,
.second-raw {
    text-align: center;
}

.second-raw {
    padding-top: 27px;
    padding-bottom: 120px;
}

.btn-container {
    border-radius: 50px;
    background: #fff;
    border-radius: 50px;
    border: transparent;
    margin-right: 27px;
}

.games-btn {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.btn {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px;
}


.btn-text {
    color: #0B0223;
    font-size: 1.125rem;
    font-weight: 600;
    margin-left: 16px;
}


/* Hover */


.btn-container:hover {
    border: 3px solid #FF42A5;
}

.btn-text:hover {
    color: #FF42A5;
}

/* Games Button */
/* ============ */




/* Main Part Closed */
/* ================ */
/* ================ */




/* Footer Part Started */
/* =================== */
/* =================== */



.bg-color {
    background: #0B0223;
    padding: 120px 0;
}

.footer-logo {
    justify-content: center;
}

.footer-logo-text {
    color: #fff;
}

.f-menu {
    display: flex;
    gap: 30px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.f-menu li {
    list-style: none;
}

.footer-menu a {
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 600;
}


.footer-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 75px;
}


.f-terms {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-bottom: 28px;
}

.f-terms li {
    list-style: none;
}

.f-terms a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
}


.license {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}

/* Footer Part Closed  */
/* =================== */
/* =================== */